@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --baseCard-color: rgb(33, 33, 35);
    --baseCard-borderColor: rgb(80, 80, 81);
    --baseDark-blue: #3a3ac5;
    --baseLight-blue: #4545dfe7;
    --baseText-font: serif;
  }
}

@keyframes appear-side {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes appear-up {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.track-slide {
  display: flex;
  justify-content: space-evenly;
  gap: 6rem;
  animation: track 15s linear infinite;
}
@keyframes track {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-80%);
  }
}

.appear-element {
  animation: appear-side linear forwards;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
}
.appear-element-up {
  animation: appear-up linear forwards;
  animation-timeline: view();
  animation-range: entry 0 cover 25%;
}
.pointer {
  cursor: pointer;
}
body {
  margin: 0;
  scroll-behavior: smooth;
}
.loading-animation-right {
  animation: loading-animation-right 1.5s linear infinite;
}
.loading-animation-left {
  animation: loading-animation-left 1.5s linear infinite;
}
@keyframes loading-animation-right {
  to {
    transform: rotate(360deg);
  }
}
@keyframes loading-animation-left {
  to {
    transform: rotate(-360deg);
  }
}
.home-loading {
  visibility: hidden;
}
.color-test {
  background-color: rgba(99, 90, 184, 0.863);
  background-color: rgba(49, 38, 145, 0.863);
  background-color: rgba(72, 65, 141, 0.863);
  background-color: rgba(105, 91, 226, 0.863);
}
@media (min-width: 300px) {
  .videoHeight {
    min-height: 19rem;
  }
  @media (min-width: 500px) {
    .videoHeight {
      min-height: 23rem;
    }
  }
}
